{% extends 'base.html.twig' %}

{% block title %}AlimentationJour{% endblock %}

{% block body %}
    <h1>AlimentationJour</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ alimentation_jour.id }}</td>
            </tr>
            <tr>
                <th>Nourrituredonne</th>
                <td>{{ alimentation_jour.nourrituredonne }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ alimentation_jour.date ? alimentation_jour.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ alimentation_jour.quantite }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_alimentation_jour_index') }}">back to list</a>

    <a href="{{ path('app_alimentation_jour_edit', {'id': alimentation_jour.id}) }}">edit</a>

    {{ include('alimentation_jour/_delete_form.html.twig') }}
{% endblock %}
